# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore other common files and directories
*.txt
*.log
*.tmp
.DS_Store

# Ignore any sampling files
processed/
split_data/
eval_outputs/

/data/*
/output/*
scripts/model_eval_datasets/data
C:\Users\krsid\Documents\samplingframework\scripts\__pycache__